/*! locomotive-scroll v4.1.0 | MIT License | https://github.com/locomotivemtl/locomotive-scroll*/
@font-face {
    font-family: 'terminal-grotesque';
    src: url(../typo/terminal-grotesque-webfont.eot);
    src: url(../typo/terminal-grotesque-webfont.woff2) format("woff2"), url(../typo/terminal-grotesque-webfont.woff) format("woff"), url(../typo/terminal-grotesque-webfont.ttf) format("truetype"), url(../typo/terminal-grotesque-webfont.svg#terminal_grotesqueregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'terminal-grotesque-open';
    src: url(../typo/terminal-grotesque-open-webfont.eot);
    src: url(../typo/terminal-grotesque-open-webfont.woff2) format("woff2"), url(../typo/terminal-grotesque-open-webfont.woff) format("woff"), url(../typo/terminal-grotesque-open-webfont.ttf) format("truetype"), url(../typo/terminal-grotesque-open-webfont.svg#terminal_grotesqueregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

:root {
    --white: #fff;
    --black: #0a0a0a;
    --blue: #2727E7;
    --lightblue: #B2CCFF;
    --red: #F93528;
    --pink: #FFC2C2;
    --orange: #FF7043;
    --lightyellow: #FFD362;
    --deepyellow: #FFB615;
    --green: #00C27B;
    --teal: #00A4CB;
    --gray05: #333;
    --gray04: #666;
    --gray03: #999;
    --gray02: #DDD;
    --gray01: #FAFAFA;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
    overflow-x: hidden;
}

/* ------------ TYPE DEFINITIONS ------------ */

h1 {
    font-size: 6rem;
    font-family: 'Terminal Grotesque', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h3 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h4 {
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

p {
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    line-height: 1.5rem;
}

a {
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
    color: var(--white);
    line-height: 1.5rem;
}

#title {
    font-size: 6rem;
    font-family: 'terminal-grotesque', sans-serif;
    color: var(--white);
}

.dropcap {
    font-family: 'terminal-grotesque-open', sans-serif;
}

button {
    background-color: var(--black);
    border-style: solid;
    border-color: var(--white);
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
}

button:hover {
    background-color: var(--white);
    color: #000;
    transition: all .2s ease-in-out;
}

::selection {
    color: none;
    background: none;
}

::-moz-selection {
    color: none;
    background: none;
}

/* ------------ SPACING DEFINITIONS ------------ */

.mbxs {
    margin-bottom: .5rem !important;
}

.mbs {
    margin-bottom: 1.5rem !important;
}

.mb {
    margin-bottom: 5rem !important;
}

.mbm {
    margin-bottom: 8rem !important;
}

.mbl {
    margin-bottom: 16rem !important;
}

.mbxl {
    margin-bottom: 27rem !important;
}

.phs {
    margin: 0 1rem;
}

.ph {
    margin: 0 2rem;
}

.phl {
    margin: 0 5rem;
}

/* ------------ LOCOMOTIVE SCROLL ------------ */

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity .3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

/* ------------ BASE GRID DEFINITIONS ------------ */

.container {
    width: 100vw;
    max-width: 1400px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    margin: 5vw 2vw;
}

@media (min-width: 576px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        column-gap: 1vw;
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 1vw;
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        column-gap: 1vw;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(12, 1fr [col-start]);
        grid-template-rows: auto;
        column-gap: 1vw;
    }
}

/*! ------------ INTRO SECTION ------------ !*/

#drawing-canvas {
    display: none;
}

#landing-page {
    margin-top: 0;
}

#title {
    grid-column: 1 / 5;
    grid-row: 2;
    font-size: 4rem;
    margin-top: 10vw;
}

#welcome {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 2rem;
    grid-column: 1 / 5;
    grid-row: 1;
    height: 100%;
}

#intro {
    grid-column: 1 / 4;
    grid-row: 4;
}

#join {
    display: none;
}

#svgContainer {
    display: none;
}

#svg1 {
    display: none;
}

#mascot {
    grid-column: 1 / 5;
    grid-row: 6;
    height: 50vw;
    margin-top: 13vw;
    width: 100%;
}

.wilson {
    grid-column: 1 / 5;
    grid-row: 6;
    z-index: 50;
    height: 50vw;
    margin-top: 13vw;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mascot-face {
    transform: rotate(90deg);
    width: 100%;
    color: var(--black);
    font-size: 6rem;
    text-align: center;
    font-family: "Terminal Grotesque", sans-serif;
}

#mascot-bg {
    grid-column: 1 / 4;
    z-index: -10;
    grid-row: 6;
    height: 45vw;
    margin-top: 8vw;
    width: 100%;
    transition: all .45s ease;
}

#join {
    display: none;
}

#event-wrapper {
    grid-column: 1 / 5;
    grid-row: 7;
}

#event-date {
    margin-top: 8px;
}

#event-title {
    grid-column: 2 / 4;
    grid-row: 6;
    margin-top: 36px;
}

#event-bio {
    margin-top: 12px;
}

#event-button {
    margin-top: 16px;
}

.rotate {
    cursor: pointer;
    transition: all .45s ease;
}

.rotate:hover {
    transform: rotate(45deg) scale(1.1);
    -moz-transform: rotate(45deg) scale(1.1);
    -webkit-transform: rotate(45deg) scale(1.1);
    transform-origin: center;
}

.bg-rotate {
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

@media (min-width: 576px) {
    #title {
        grid-column: 1 / 5;
        grid-row: 2;
        font-size: 5rem;
    }

    #welcome {
        font-size: 2rem;
        grid-column: 1 / 5;
        grid-row: 1;
    }

    #intro {
        grid-column: 1 / 4;
        grid-row: 4;
    }

    
}

@media (min-width: 768px) {

    #landing-page {
    }

    #title {
        grid-column: 2 / 8;
        grid-row: 3;
        font-size: 6rem;
    }

    #welcome {
        font-size: 2rem;
        grid-column: 2 / 8;
    }

    #intro {
        grid-column: 2 / 8;
        grid-row: 4;
    }

    #join {
        grid-column: 2 / 8;
        grid-row: 5;
    }

    #event-wrapper {
        grid-column: 4 / 8;
        grid-row: 6;
        margin-top: 7vw;
    }

    #mascot {
        grid-column: 2 / 4;
        grid-row: 6;
        height: 20vw;
        margin-top: 13vw;
        width: 100%;
    }

    .wilson {
        grid-column: 2 / 4;
        grid-row: 6;
        z-index: 50;
        height: 20vw;
        margin-top: 13vw;
    }

    #mascot-face {
        transform: rotate(90deg);
        color: var(--black);
        font-size: 5rem;
    }

    #mascot-bg {
        grid-column: 1 / 4;
        z-index: -10;
        grid-row: 6;
        height: 20vw;
        margin-top: 8vw;
    }
}

@media (min-width: 992px) {
    #landing-page {
        cursor: url(/img/brush-cursor.svg), auto;
    }

    #drawing-canvas {
        display: block;
        grid-column: 1 / 13;
        height: 75vw;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -50;
    }

    #title {
        grid-column: 2 / 12;
        grid-row: 3;
        font-size: 6vw;
    }

    #welcome {
        font-family: "IBM Plex Mono", sans-serif;
        font-size: 2rem;
        grid-column: 2 / 12;
        grid-row: 2;
        height: 100%;
    }

    #intro {
        grid-column: 2 / 7;
        grid-row: 4;
    }

    #join {
        grid-column: 2 / 4;
        grid-row: 5;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: .85rem;
        margin-top: 2rem;
        line-height: 1.25rem;
        font-weight: 700;
        display: block;
    }

    #event-wrapper {
        grid-column: 8 / 12;
        grid-row: 6;
        margin-top: 10vw;
    }

    #mascot {
        grid-column: 3 / 6;
        grid-row: 6;
        height: 15vw;
        margin-top: 13vw;
        width: 100%;
    }

    .wilson {
        grid-column: 3 / 6;
        grid-row: 6;
        z-index: 50;
        height: 15vw;
        margin-top: 13vw;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mascot-face {
        transform: rotate(90deg);
        width: 100%;
        color: var(--black);
        font-size: 4vw;
        text-align: center;
        font-family: "Terminal Grotesque", sans-serif;
    }

    .rotate {
        cursor: pointer;
        transition: all .45s ease;
    }

    .rotate:hover {
        transform: rotate(45deg) scale(1.1);
        -moz-transform: rotate(45deg) scale(1.1);
        -webkit-transform: rotate(45deg) scale(1.1);
        transform-origin: center;
    }

    #mascot-bg {
        grid-column: 3 / 5;
        z-index: -10;
        grid-row: 6;
        height: 14vw;
        margin-top: 10vw;
        width: 100%;
        transition: all .45s ease;
    }

    .bg-rotate {
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    #event-date {
        margin-top: 8px;
    }

    #event-title {
        grid-column: 6 / 11;
        grid-row: 6;
        margin-top: 36px;
    }

    #event-bio {
        margin-top: 12px;
    }

    #event-button {
        margin-top: 16px;
    }

    #svgContainer {
        display: block;
        z-index: -10;
        overflow: visible;
        grid-column: 2 / 12;
        grid-row: 5 / 8;
    }

    #svg1 {
        display: block;
        overflow: visible;
        z-index: 99;
    }
}

@media (min-width: 1200px) {
    #drawing-canvas {
        display: block;
        grid-column: 1 / 13;
        height: 75vw;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -50;
    }

    #title {
        grid-column: 2 / 12;
        grid-row: 3;
        font-size: 6vw;
    }

    #welcome {
        font-family: "IBM Plex Mono", sans-serif;
        font-size: 2rem;
        grid-column: 2 / 12;
        grid-row: 2;
        height: 100%;
    }

    #intro {
        grid-column: 2 / 7;
        grid-row: 4;
    }

    #join {
        grid-column: 2 / 4;
        grid-row: 5;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: .85rem;
        margin-top: 2rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    #event-wrapper {
        grid-column: 8 / 12;
        grid-row: 6;
        margin-top: 10vw;
    }

    #mascot {
        grid-column: 3 / 6;
        grid-row: 6;
        height: 15vw;
        margin-top: 13vw;
        width: 100%;
    }

    .wilson {
        grid-column: 3 / 6;
        grid-row: 6;
        z-index: 50;
        height: 15vw;
        margin-top: 13vw;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mascot-face {
        transform: rotate(90deg);
        width: 100%;
        color: var(--black);
        font-size: 4vw;
        text-align: center;
        font-family: "Terminal Grotesque", sans-serif;
    }

    .rotate {
        cursor: pointer;
        transition: all .45s ease;
    }

    .rotate:hover {
        transform: rotate(45deg) scale(1.1);
        -moz-transform: rotate(45deg) scale(1.1);
        -webkit-transform: rotate(45deg) scale(1.1);
        transform-origin: center;
    }

    #mascot-bg {
        grid-column: 3 / 5;
        z-index: -10;
        grid-row: 6;
        height: 14vw;
        margin-top: 10vw;
        width: 100%;
        transition: all .45s ease;
    }

    .bg-rotate {
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    #event-date {
        margin-top: 8px;
    }

    #event-title {
        grid-column: 6 / 11;
        grid-row: 6;
        margin-top: 36px;
    }

    #event-bio {
        margin-top: 12px;
    }

    #event-button {
        margin-top: 16px;
    }

    #svgContainer {
        display: block;
        z-index: -10;
        overflow: visible;
        grid-column: 2 / 12;
        grid-row: 5 / 8;
    }

    #svg1 {
        display: block;
        overflow: visible;
        z-index: 99;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/*! ------------ WHO WE ARE SECTION ------------ !*/

#who {
    grid-row: 1;
    grid-column: 1 / 5;
}

#who-bio {
    grid-row: 2;
    grid-column: 1 / 5;
}

#who-scroll-container {
    grid-column: 1 / 5;
}

#image-carousel {
    grid-row: 3;
    grid-column: 1 / 5;
    padding-top: 10%;
}

.slider {
    display: flex;
    flex-flow: row nowrap;
}

.slider-instant {
    transition: none;
}

.slider-animate {
    margin-left: 0;
}

.slider-extra {
    display: flex;
    flex-flow: row nowrap;
}

.slider span {
    margin-right: 5vw;
}

.slider .slider-extra {
    margin-right: 0;
}

.slider img {
    height: inherit;
    vertical-align: inherit;
    border: inherit;
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 80vh;
    transition: all .45s ease;
}

.slider img:hover {
    transform: rotate(10deg) scale(1.1);
    -moz-transform: rotate(10deg) scale(1.1);
    -webkit-transform: rotate(10deg) scale(1.1);
    transform-origin: center;
}


@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    #who {
        grid-row: 1;
        grid-column: 2 / 8;
    }
    
    #who-bio {
        grid-row: 2;
        grid-column: 2 / 8;
    }
    
    #who-scroll-container {
        grid-column: 2 / 8;
    }
    
    #image-carousel {
        grid-row: 3;
        grid-column: 2 / 8;
        padding-top: 10%;
    }
}

@media (min-width: 992px) {
    #who {
        grid-row: 1;
        grid-column: 2 / 8;
    }
    
    #who-bio {
        grid-row: 2;
        grid-column: 2 / 6;
    }
    
    #who-scroll-container {
        grid-column: 1 / 13;
    }
    
    #image-carousel {
        grid-row: 3;
        grid-column: 1 / 13;
        padding-top: 10%;
    }
}

@media (min-width: 1200px) {
    
}

/* ------------ CALLOUT GRID SECTION ------------ */

/* 4 COL GRID */

#callout {
    position: relative;
    background-image: linear-gradient(rgba(10, 10, 10, 1), rgba(10, 10, 10, 0), rgba(10, 10, 10, 0), rgba(10, 10, 10, 0), rgba(10, 10, 10, 1));
}

#grid-rows {
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1vh;
}

#grid-col {
    z-index: -20;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events: none;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-template-rows: none;
    column-gap: 1vw;
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
}

#grid-rows {
    z-index: -22;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events: none;
    grid-template-columns: none;
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
}

#grid-col.is-inview {
    transform: scaleX(1);
}

#grid-rows.is-inview {
    transform: scaleY(1);
}

.col-segment,
.row-segment {
    border: 1px solid var(--white);
    opacity: .17;
    height: 100%;
    z-index: 0;
}

#bigtext,
#bigtext2 {
    font-size: 6rem;
    font-family: 'terminal-grotesque-open', sans-serif;
    color: var(--white);
    grid-column: 1/5;
    text-align: center;
    align-self: end;
    line-height: 6rem;
    margin-bottom: 3rem;
}

#callout1,
#callout2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    color: var(--white);
    grid-column: 1/5;
    text-align: center;
    align-self: end;
    line-height: 100%;
    margin-bottom: 1rem;
}

#callout1 {
    grid-row: 1/2;
}

#bigtext {
    grid-row: 2/3;
}

#callout2 {
    grid-row: 3/4;
}

#bigtext2 {
    grid-row: 4/5;
}

/* 8 COL GRID */

@media (min-width: 768px) {
    #callout {
        grid-template-rows: repeat(5, 1fr);
    }
    #grid-rows {
        grid-template-rows: repeat(10, 1fr);
    }
    #grid-col {
        grid-template-columns: repeat(8, 1fr [col-start]);
    }

    #bigtext,
    #bigtext2 {
        grid-column: 1/9;
    }

    #callout1,
    #callout2 {
        grid-column: 1/9;
        }
    .row-segment {
        min-height: 2vh;
    }
    #callout1 {
        grid-row: 1;
    }
    
    #bigtext {
        grid-row: 2;
    }
    
    #callout2 {
        grid-row: 3;
    }
    
    #bigtext2 {
        grid-row: 4;
    }
}

/* 12 COL GRID */

@media (min-width: 992px) {
    
#callout {
    position: relative;
    background-image: linear-gradient(rgba(10, 10, 10, 1), rgba(10, 10, 10, 0), rgba(10, 10, 10, 0), rgba(10, 10, 10, 0), rgba(10, 10, 10, 1));
}

#callout,
#grid-rows {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3vh;
}

#grid-col {
    z-index: -20;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events: none;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: none;
    column-gap: 1vw;
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
}

#grid-rows {
    z-index: -22;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events: none;
    grid-template-columns: none;
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
}

#grid-col.is-inview {
    transform: scaleX(1);
}

#grid-rows.is-inview {
    transform: scaleY(1);
}

.col-segment,
.row-segment {
    border: 1px solid var(--white);
    opacity: .17;
    height: 100%;
    z-index: 0;
}

#bigtext,
#bigtext2 {
    font-size: 6rem;
    font-family: 'terminal-grotesque-open', sans-serif;
    color: var(--white);
    grid-column: 1/13;
    text-align: center;
    align-self: end;
    line-height: 6rem;
    margin-bottom: 0rem;
}

#callout1,
#callout2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    color: var(--white);
    grid-column: 1/13;
    text-align: center;
    align-self: end;
    line-height: 150%;
    margin-bottom: 0rem;
}

#callout1 {
    grid-row: 4/5;
}

#bigtext {
    grid-row: 5/6;
}

#callout2 {
    grid-row: 6/7;
}

#bigtext2 {
    grid-row: 7/8;
}
}

/* ------------ STICKER SECTION ------------ */


#sticker-hero {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    z-index: 1000;
    width: 100vw;
    height: 100%;
}

.sticker {
    --x: 0;
    --y: 0;
    --tilt: 0;
    --scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(var(--x), var(--y)) translate(-50%, -50%) rotate(var(--tilt)) scale(var(--scale));
    transition: filter 100ms;
    user-select: none;
    cursor: none;
    filter: drop-shadow(1.5px 1.5px 1px rgba(0, 0, 0, 0.1));
}

.sticker.static::before {
    transform: scale(0.8);
    animation: none;
}

.sticker::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: bounce-in 600ms linear both;
    background-size: 100% 100%;
}

.sticker.dragging {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
}

.sticker-0 {
    width: 12vmax;
    height: 12vmax;
}

.sticker-0::before {
    background-image: url(/img/hero-stickers-00.svg);
}

.sticker-1 {
    width: 20vmax;
    height: 6vmax;
}

.sticker-1::before {
    background-image: url(/img/hero-stickers-01.svg);
}

.sticker-2 {
    width: 12vmax;
    height: 12vmax;
}

.sticker-2::before {
    background-image: url(/img/hero-stickers-02.svg);
}

.sticker-3 {
    width: 13vmax;
    height: 8vmax;
}

.sticker-3::before {
    background-image: url(/img/hero-stickers-03.svg);
}

.sticker-4 {
    width: 15vmax;
    height: 8vmax;
}

.sticker-4::before {
    background-image: url(/img/hero-stickers-04.svg);
}

.sticker-5 {
    width: 10vmax;
    height: 10vmax;
}

.sticker-5::before {
    background-image: url(/img/hero-stickers-05.svg);
}

.sticker-6 {
    width: 8vmax;
    height: 8vmax;
}

.sticker-6::before {
    background-image: url(/img/hero-stickers-06.svg);
}

.sticker-7 {
    width: 20vmax;
    height: 20vmax;
}

.sticker-7::before {
    background-image: url(/img/hero-stickers-07.png);
}

@media screen and (max-width: 52rem) {
    .sticker-hero {
        font-size: 6vw;
    }
}

@keyframes bounce-in {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 0;
    }

    3.4% {
        transform: matrix3d(0.268, 0, 0, 0, 0, 0.222, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    4.7% {
        transform: matrix3d(0.434, 0, 0, 0, 0, 0.36, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    6.81% {
        transform: matrix3d(0.741, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    9.41% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1;
    }

    10.21% {
        transform: matrix3d(1.191, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    13.61% {
        transform: matrix3d(1.414, 0, 0, 0, 0, 1.31, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    14.11% {
        transform: matrix3d(1.424, 0, 0, 0, 0, 1.33, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    17.52% {
        transform: matrix3d(1.368, 0, 0, 0, 0, 1.352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    18.72% {
        transform: matrix3d(1.313, 0, 0, 0, 0, 1.326, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    21.32% {
        transform: matrix3d(1.174, 0, 0, 0, 0, 1.238, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    24.32% {
        transform: matrix3d(1.033, 0, 0, 0, 0, 1.128, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    25.23% {
        transform: matrix3d(1, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    29.03% {
        transform: matrix3d(0.925, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    29.93% {
        transform: matrix3d(0.92, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    35.54% {
        transform: matrix3d(0.952, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    36.74% {
        transform: matrix3d(0.965, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    41.04% {
        transform: matrix3d(1.002, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    44.44% {
        transform: matrix3d(1.014, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    52.15% {
        transform: matrix3d(1.002, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    59.86% {
        transform: matrix3d(0.993, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    63.26% {
        transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    75.28% {
        transform: matrix3d(1.004, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    85.49% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    90.69% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

#matterContainer {
    grid-column: 1 / 13;
    grid-row: 1 / 15;
    position: relative;
}

#matterCanvas {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    z-index: 1000;
}

#mentorship {
    position: relative;
}

#mentor-img {
    grid-column: 2/12;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

#mentor-shape {
    grid-column: 2 / 7;
    grid-row: 1;
    width: 100%;
}

#mentor-arrow {
    grid-column: 2 / 4;
    grid-row: 1;
    width: 100%;
    transition: all 300ms ease;
    animation: moveitback 400ms ease forwards;
    will-change: transform;
}

#mentee-shape {
    grid-column: 7 / 12;
    grid-row: 1;
    width: 100%;
    margin-top: 5vw;
}

#mentee-arrow {
    grid-column: 10 / 12;
    grid-row: 1;
    width: 100%;
    margin-top: 5vw;
    transition: all 300ms ease;
    animation: moveitback 400ms ease forwards;
    will-change: transform;
}

.mentor-rotate {
    cursor: pointer;
    transition: all .45s ease;
}

.mentor-rotate:hover {
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform-origin: center;
}

.mentee-rotate {
    cursor: pointer;
    transition: all .45s ease;
}

.mentee-rotate:hover {
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform-origin: center;
}

#mentor-shape:hover+#mentor-arrow {
    opacity: 1;
    animation: moveit 900ms ease forwards;
    will-change: transform;
}

#mentee-shape:hover+#mentee-arrow {
    opacity: 1;
    animation: moveit 900ms ease forwards;
    will-change: transform;
}

@keyframes moveit {
    0% {
        transform: translateY(0) scale3d(0.96, 0.96, 1);
    }

    20% {
        transform: translateY(80px) scale3d(1.1, 1.1, 1);
    }

    40% {
        transform: translateY(50px) scale3d(0.98, 0.98, 1);
    }

    60% {
        transform: translateY(62px) scale3d(1.05, 1.05, 1);
    }

    80% {
        transform: translateY(60px) scale3d(1.01, 1.01, 1);
    }

    100% {
        transform: translateY(60px) scale3d(1, 1, 1);
    }
}

@keyframes moveitback {
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0) scale3d(0.96, 0.96, 1);
    }
}

@keyframes scale {
    0% {
        transform: scale3d(0.96, 0.96, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

#mentor-bg-scene {
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    z-index: -100;
}

#mentor-bg {
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
}

#mentor {
    grid-column: 2/12;
}

#mentor-desc {
    grid-column: 2/7;
}

#mentor-desc2 {
    grid-column: 7/12;
}

#community {
    grid-column: 2/12;
    grid-row: 1;
}

#community-image {
    grid-column: 2/4;
    width: 12vw;
    height: 12vw;
    background-image: url(/media/case-study.png);
    background-size: cover;
    transition: all cubic-bezier(1, 0, 0, 1);
}

#community-image:hover {
    opacity: 50%;
    outline: var(--white);
}

#community-title {
    font-size: 4rem;
}

#community-desc {
    grid-column: 5/12;
    grid-row: 1;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#community-desc span {
    vertical-align: middle;
    display: table-cell;
}

#read-more-button {
    margin-top: 16px;
}

#merch-wrapper {
    grid-column: 2/12;
    grid-row: 1;
}

#merch-button {
    grid-column: 8/10;
    margin-top: 16px;
}

#merch-image {
    grid-column: 2/3;
    max-width: 100%;
    max-height: 100%;
}

#card-container {
    grid-row: 2;
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;
}

.merch-card {
    min-height: 15vw;
    min-width: 5vw;
    width: 100%;
    grid-row: 2;
    margin: auto 1vw;
    cursor: pointer;
}

.merch-card h1 {
    vertical-align: top;
    position: absolute;
    top: -50px;
    left: 10px;
}

.merch-card h2 {
    vertical-align: bottom;
    margin-top: 1vw;
    text-decoration: none;
    transition: all .25s ease;
}

.merch-card .card-bg {
    min-height: 15vw;
    height: 90%;
    width: 100%;
    border: solid;
    vertical-align: auto;
    background-color: var(--black);
    transition: all .25s ease;
}

#merch-card-1 .card-bg {
    border-color: var(--pink);
}

#merch-card-2 .card-bg {
    border-color: var(--orange);
}

#merch-card-3 .card-bg {
    border-color: var(--deepyellow);
}

#merch-card-1:hover .card-bg {
    background-color: var(--pink);
}

#merch-card-2:hover .card-bg {
    background-color: var(--orange);
}

#merch-card-3:hover .card-bg {
    background-color: var(--deepyellow);
}

.merch-card:hover h2 {
    text-decoration: #fff underline;
}

#footer {
    margin-bottom: 100px;
}

.footer-logo {
    font-family: 'terminal-grotesque-open', sans-serif;
    font-size: 5rem;
    color: var(--white);
    grid-column: 2/5;
}

.logo-label {
    font-size: .8rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
    grid-column: 2/5;
    padding-bottom: 2rem;
}

.list-title {
    font-size: .8rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--gray03);
}

.footer-linkholder a {
    font-size: .8rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

.signup-container {
    grid-column: 2/6;
    margin-top: 48px;
}

.getinvolved-container {
    grid-column: 8/10;
    margin-top: 48px;
}

.aboutus-container {
    grid-column: 10/12;
    margin-top: 48px;
}

.sign-up,
.deets {
    color: var(--white);
    font-family: 'IBM Plex Sans', sans-serif;
    grid-column: 2/6;
    margin-bottom: 12px;
}

.deets {
    font-size: .8rem;
    grid-row: 4;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: row;
}

#mce-EMAIL {
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-style: solid;
    max-width: 300px;
    height: 40px;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    border-width: 3px;
}

#mc-embedded-subscribe {
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-style: solid;
    color: #fff;
    height: 48px;
    width: 48px;
    margin: 0;
    padding: 0;
    border-width: 3px;
}