@font-face {
    font-family: 'terminal-grotesque';
    src: url('../typo/terminal-grotesque-webfont.eot');
    src: url('../typo/terminal-grotesque-webfont.woff2') format('woff2'),
         url('../typo/terminal-grotesque-webfont.woff') format('woff'),
         url('../typo/terminal-grotesque-webfont.ttf') format('truetype'),
         url('../typo/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'terminal-grotesque-open';
    src: url('../typo/terminal-grotesque-open-webfont.eot');
    src: url('../typo/terminal-grotesque-open-webfont.woff2') format('woff2'),
         url('../typo/terminal-grotesque-open-webfont.woff') format('woff'),
         url('../typo/terminal-grotesque-open-webfont.ttf') format('truetype'),
         url('../typo/terminal-grotesque-open-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #ffffff;
    --black: #0a0a0a;
    --blue: #2727E7;
    --lightblue: #B2CCFF;
    --red: #F93528;
    --pink: #FFC2C2;
    --orange: #FF7043;
    --lightyellow: #FFD362;
    --deepyellow: #FFB615;
    --green: #00C27B;
    --teal: #00A4CB;
    --gray05: #333;
    --gray04: #666;
    --gray03: #999;
    --gray02: #DDD;
    --gray01: #FAFAFA;
  }

body{
    display:flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap:wrap;
    overflow-x: hidden;
}


/* TYPE STYLING */
h1 {
    font-size: 2rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h3{
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h4{
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

p {
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    line-height: 1.5rem;
}

a{
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
    color: var(--white);
    line-height: 1.5rem;
}

#title {
    font-size: 6rem;
    font-family: 'terminal-grotesque', sans-serif;
    color: var(--white);
}

.dropcap {
    font-family: 'terminal-grotesque-open', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

button{
    background-color:var(--black); /* Green */
    border-style: solid;
    border-color: var(--white);
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
}

button:hover{
    background-color: var(--white);
    color: black;
    transition: all 0.2s ease-in-out;
}

/*  NAV STYLING */
.nav{
    position:fixed;
    width: 100vw;
    max-width: 1400px;
    z-index: 999999;
    background-color: var(--black);
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: 50px auto;
    column-gap: 1vw;
    align-items: center;
    grid-template-areas:
        ". logo . . . . links links links links links ."
}

.nav__logo{
    grid-area: logo;
    font-family: 'terminal-grotesque-open', sans-serif ;
    font-size: 1.5rem;
    justify-self: start;
    color: var(--white);
}

.nav__linkholder{
    grid-area: links;
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: .7rem;
}

.nav__linkholder__link a{
    color: var(--white);
    text-decoration: none;
}

/* SPACING */

  .mbxs {
    margin-bottom: .5rem !important;
  }
  
  .mbs {
    margin-bottom: 1.5rem !important;
  }
  
  .mb {
    margin-bottom: 5rem !important;
  }
  
  .mbm {
    margin-bottom: 8rem !important;
  }
  
  .mbl {
    margin-bottom: 16rem !important;
  }
  
  .mbxl {
    margin-bottom: 27rem !important;
  }
  
  .phs {
    margin: 0 1rem;
  }
  
  .ph {
    margin: 0 2rem;
  }
  
  .phl {
    margin: 0 5rem;
  }
  
/*  CSS GRID SETUP */
/* each zone of the site gets its own class, which is assigned a grid area that is detailed below */

.container{
    width: 100vw;
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
    column-gap: 1vw;
}

#title{
    grid-column: 2 / 12;
    grid-row: 3;
}

#welcome{
    grid-column: 2 / 12;
    grid-row: 2;
    height: 100%;
}

#intro{
    grid-column: 2 / 9;
    grid-row: 4;
}

#join{
    grid-column: 2 / 4;
    grid-row: 5;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.85rem;
    margin-top: 2rem;
    line-height: 1.25rem;
    font-weight: bold;
}

#event-wrapper{
    grid-column: 8 / 12;
    grid-row: 6;
    margin-top: 10vw;
}

#mascot{
    grid-column: 3 / 5;
    grid-row: 6;
    height: 15vw;
    margin-top: 15vw;
}

#event-time{

}

#event-date{
    margin-top: 8px;
}

#event-title{
    grid-column: 6 / 11;
    grid-row: 6;
    margin-top: 36px;
}

#event-bio{
    margin-top:12px;

}

#event-button{
    margin-top: 16px;
    
}

#svgContainer{
    z-index: -10;
    position: absolute;
    overflow: visible;
}

#svg1{
    overflow: visible;
    z-index: 99;
    /* stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear infinite; */
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

#matterCanvas{
    position:absolute;
    top:0;
    left: calc(50% - 50vw);
    z-index: 99;
    /* pointer-events: none; */
    width:100vw;
    height: 100vh;
}

#who{
    grid-column: 2 / 12;
}

#who-bio{
    /* grid-area: bio7 */
    grid-row: 2;
    grid-column: 2 / 6;   
}

#image-carousel{
    /* grid-area: img; */
    /* grid-column: 1 / 12; */
    grid-row: 3;
    /* margin: 0 auto; */
    /* overflow: hidden;
    white-space: nowrap; */
    /* animation: bannermove 20s linear infinite; */
}

#img1{
    transform: rotate(-20deg); 
    object-fit: contain;
    max-width: 75%;
    max-height: 75%;
}

#img2{
    transform: rotate(5deg); 
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}

#banner{
    
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

/* CALLOUT SECTION STYLING */

#callout{
    z-index:-10;
    position:relative;
    height: 150vh;
}

#callout, #grid-rows{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3vh;
}

#grid-col{
    z-index:-20;
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events:none;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: none;
    column-gap: 1vw;
}
#grid-rows{
    z-index:-22;
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    display: inline-grid;
    pointer-events:none;
    grid-template-columns: none;
}

.col-segment,.row-segment {
    border: 1px solid var(--white);
    opacity: .07;
    height: 100%;
    z-index: 0;
}

/* text styling */
#bigtext, #bigtext2{
    font-size: 6rem;
    font-family: 'terminal-grotesque-open', sans-serif;
    color: var(--white);
    grid-column: 1/13;
    text-align: center;
    align-self: end;
    line-height: 6rem;
}

#callout1, #callout2{
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    color: var(--white);
    grid-column: 1/13;
    text-align: center;
    align-self: end;
    line-height: 150%;
}

/* placing text in grid */
#callout1{
    grid-row: 6/7;
}
#bigtext{
    grid-row: 7/8;
}
#callout2{
    grid-row: 8/9;
}
#bigtext2{
    grid-row: 9/10;
}

/* positioning sticker canvas */
#stickerCanvas{
    z-index:10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* border: 1px solid var(--gray05); */
}


#mentor-img{
    grid-column: 1/12;
    max-width:100%; 
    max-height:100%;
}
#mentor{
    grid-column: 2/12;
}
#mentor-desc{
    grid-column: 2/7;
}
#mentor-desc2{
    grid-column: 7/12;
}

/* Community Highlight */

#community{
    grid-column: 2/6;
    grid-row: 1;
}

#community-image{
    grid-column: 2/9;
    max-width:100%; 
    max-height:100%;
}

#community-desc{
    grid-column: 9/10;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#community-desc span{
    vertical-align: middle;
    display: table-cell;
}

/* Footer Styling */

.footer-logo{
    font-family: 'terminal-grotesque-open', sans-serif ;
    font-size: 5rem;
    color: var(--white);
    grid-column: 2/5;
    
}
.logo-label{
    font-size: .8rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
    grid-column: 2/5;
    
    padding-bottom: 2rem;
}

.list-title{
    font-size: .8rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--gray03);
}
.footer-linkholder a{
    font-size: .8rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

.sign-up, .deets{
    color: var(--white);
    font-family: 'IBM Plex Sans', sans-serif;
    grid-column: 2/6 ;
    
}

.sign-up{
    font-size: 1rem;
    grid-row: 3;
    padding-bottom: .5rem;
    
}
.deets{
    font-size: .8rem;
    grid-row: 4;
}

.list-title{
    grid-row: 3;
}
#involved-title{
    grid-column: 8/10;
}

.involved-links{
    grid-column: 8/10;
    grid-row: 4;
}
#about-title{
    grid-column: 10/12; 
}

.about-links{
    grid-column: 10/12;
    grid-row: 4;
}



  