. container {
    display: grid;
    grid-template-columns: repeat(12, 100px [col-start]);
    column-gap: 16px; 
    grid-template-areas: 
        "header header header header header header header header header header header header"
    ;
}

@font-face {
    font-family: "terminal-grotesque_open";
    src: url("terminal-grotesque_open.otf") format(".otf");
    font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: "terminal-grotesque";
    src: url("terminal-grotesque.ttf") format(".ttf");
    font-weight: normal;
        font-style: normal;
}

p { 
    font-family: 'terminal-grotesque_open';
}

.h1 {
    font-size: 4.5em;
    font-family: 'terminal-grotesque_open';
}

