@font-face {
    font-family: 'terminal-grotesque';
    src: url('../typo/terminal-grotesque-webfont.eot');
    src: url('../typo/terminal-grotesque-webfont.woff2') format('woff2'),
         url('../typo/terminal-grotesque-webfont.woff') format('woff'),
         url('../typo/terminal-grotesque-webfont.ttf') format('truetype'),
         url('../typo/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'terminal-grotesque-open';
    src: url('../typo/terminal-grotesque-open-webfont.eot');
    src: url('../typo/terminal-grotesque-open-webfont.woff2') format('woff2'),
         url('../typo/terminal-grotesque-open-webfont.woff') format('woff'),
         url('../typo/terminal-grotesque-open-webfont.ttf') format('truetype'),
         url('../typo/terminal-grotesque-open-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #ffffff;
    --black: #0a0a0a;
    --blue: #2727E7;
    --lightblue: #B2CCFF;
    --red: #F93528;
    --pink: #FFC2C2;
    --orange: #FF7043;
    --lightyellow: #FFD362;
    --deepyellow: #FFB615;
    --green: #00C27B;
    --teal: #00A4CB;
  }

body{
    display:flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap:wrap;
}

h1 {
    font-size: 2rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

h2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    color: var(--white);
}

#title {
    font-size: 6rem;
    font-family: 'terminal-grotesque', sans-serif;
    color: var(--white);
}

#bigtext, #bigtext2{
    font-size: 6rem;
    font-family: 'terminal-grotesque-open', sans-serif;
    color: var(--white);
    grid-column: 2/11;
    text-align: center;
}
#callout1, #callout2{
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    grid-column: 2/11;
    text-align: center;
}

#callout{
    grid-column: 2/11;
    border-right: #ffffff 1px;
}

.dropcap {
    font-family: 'terminal-grotesque-open', sans-serif;
}

p {
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    line-height: 1.5rem;
}

button{
    background-color:var(--black); /* Green */
    border-style: solid;
    border-color: var(--white);
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', sans-serif;
}

button:hover{
    background-color: var(--white);
    color: black;
    transition: all 0.2s ease-in-out;
}

.nav{
    position:fixed;
    width: 100vw;
    max-width: 1400px;
    z-index: 999999;
    /* background-color: var(--black); */
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: 50px auto;
    column-gap: 1vw;
    align-items: center;
    grid-template-areas:
        ". logo . . . . links links links links links ."
}

.nav__logo{
    grid-area: logo;
    font-family: 'terminal-grotesque-open', sans-serif ;
    font-size: 1.5rem;
    justify-self: start;
    color: var(--white);
}

.nav__linkholder{
    grid-area: links;
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: .8rem;
}

.nav__linkholder__link a{
    color: var(--white);
    text-decoration: none;
}

/*  CSS GRID SETUP */
/* each zone of the site gets its own class, which is assigned a grid area that is detailed below */

.container{
    width: 100vw;
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
    column-gap: 1vw;
}


/* .container--welcome{
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". welcome welcome welcome welcome welcome welcome welcome welcome welcome welcome ."
        ". header header header header header header header header header header ."
        ". intro intro intro intro intro intro intro . . . ."
        ". join join . . . . . . . . ."
    ;
}

.container--who{
    grid-template-areas:
        ". who who who who who who who who who who who"
        ". bio bio bio bio bio bio bio . . . ."
        ". link link link link link . . . . . ."
        "img img img img img img img img img img img img"
        ". . . . . . . . . . . ."
    ;
} */


#title{
    /* grid-area: header; */
    grid-column: 2 / 11;
    grid-row: 3;
    /* background-color: yellow; */
}

#welcome{
    /* grid-area: welcome; */
    grid-column: 2 / 11;
    grid-row: 2;
    height: 100%;
    /* background-color: blue; */
}

#intro{
    /* grid-area: intro; */
    grid-column: 2 / 8;
    grid-row: 4;
    /* background-color: indianred; */
}

#join{
    /* grid-area: join; */
    grid-column: 2 / 4;
    grid-row: 5;
    /* background-color: lightblue; */
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.85rem;
    margin-top: 2rem;
    line-height: 1.25rem;
    font-weight: bold;
}

#event-wrapper{
    grid-column: 7 / 11;
    grid-row: 6;
    margin-top: 10vw;
}

#mascot{
    grid-column: 3 / 5;
    grid-row: 6;
    height: 15vw;
    margin-top: 15vw;
}

#event-time{
    /* grid-column: 6 / 11;
    grid-row: 6; */

}

#event-date{
    /* grid-column: 6 / 11;
    grid-row: 6; */
    margin-top: 8px;
}

#event-title{
    grid-column: 6 / 11;
    grid-row: 6;
    margin-top: 36px;
}

#event-bio{
    /* grid-column: 6 / 11;
    grid-row: 6; */
    margin-top:12px;

}

#event-button{
    /* grid-column: 6 / 11;
    grid-row: 6; */
    margin-top: 16px;
    
}

#image-carousel{
    /* grid-area: img; */
    grid-column: 1 / 12;
    grid-row: 3;
    height: 40vw;
    /* overflow: hidden;
    white-space: nowrap; */
    /* animation: bannermove 20s linear infinite; */
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

#svgContainer{
    z-index: -10;
    position: absolute;
    overflow: visible;
}

#svg1{
    overflow: visible;
    z-index: 99;
    /* stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear infinite; */
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

#img1{
    transform: rotate(-20deg); 
    object-fit: contain;
    max-width: 75%;
    max-height: 75%;
}

#img2{
    transform: rotate(5deg); 
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}

#who{
    /* grid-area: who; */
    grid-column: 2 / 12;
}

#matterCanvas{
    position:fixed;
    top:0;
    z-index: 999;
    pointer-events: none;
    width:100vw;
    height: 100vh;
}

#who-bio{
    /* grid-area: bio7 */
    grid-column: 2 / 6;   
}

#mentor{
    grid-column: 2/11;
}
#mentor-desc{
    grid-column: 2/6;
}
#mentor-desc2{
    grid-column: 7/11;
}
